<!-- Fuente -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Font Awesome -->
<link
href="https://fonts.googleapis.com/css2?family=Anton&family=Dosis:wght@200&family=IBM+Plex+Sans:ital,wght@1,200&family=M+PLUS+1+Code:wght@300&family=Roboto:wght@300&family=Rubik:wght@500&family=Shippori+Antique&display=swap"
rel="stylesheet">
<script src="https://kit.fontawesome.com/64cf8f81a0.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="/css/cssPartials/footer.css">
<footer>
    <div class="social-icons-container">
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
    </div>
    <ul class="footer-menu-container">
        <li class="menu-item">Legal</li>
        <li class="menu-item">Cookies</li>
        <li class="menu-item">Privacidad</li>
        <li class="menu-item">Envíos</li>
        <li class="menu-item">Devoluciones</li>
    </ul>
    <span class="copyright">&copy;2022, GForceVelocity. All rights reserved.</span>
</footer>