<link rel="stylesheet" href="/css/cssPartials/nav.css">
<header>
    <nav>
        <ul>

            <a href="/" class="link-logo">
                <div class="logo">
                    <img class="logo-image" src="/images/red-car-vehicle-auto-detailing-logo-png.png">
                </div>
            </a>
            <div class="barra-navegacion"><input type="text" name="buscador" id="buscador"><button><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button></div>
            <button class="icono-menu-mobile"><i class="fa-solid fa-bars"></i>
            <ul class="menu-mobile oculto" id="mobile-menu">
            <a href=""><li class="navigaton">Ofertas</li></a>
            <a href=""><li class="navigaton">Categorías</li></a>
            <a href=""><li class="navigaton">Nuevos</li></a>
            <a href=""><li class="navigaton">Usados</li></a>
            <a href="" class="foto-usuario"><li class="navigaton"><i class="fa-solid fa-circle-user"></i></li></a>
            </ul>
            </button>
        </ul>
    </nav>
</header>