<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Formulario de registro</title>
</head>
<body>
    <form action="/registro">
        <label for="">
            <input type="text" name="" id="">
        </label>
        <label for="">
            <input type="email" name="" id="">
        </label>
        <label for="">
            <input type="password" name="" id="">
        </label>
        <label for="">
            <input type="password" name="" id="">
        </label>
    </form>
    <%- include('./partials/footer') %>
</body>
</html>