<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Formulario de registro</title>
    <link rel="stylesheet" href="/css/form-registro.css">
</head>
<body>
        <label for="">Nombre de usuario</label>
            <input type="text" name="" id="">        
        <label for="">Gmail</label>
            <input type="email" name="" id="">
        <label for="">Contraseña</label>
            <input type="password" name="" id="">       
        <label for="">Confirmar contraseña</label>
            <input type="password" name="" id="">      
    </form>
    
</body>
</html>