* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* body {
    background-image: url("https://media0.giphy.com/media/3oKIPxgr4hwY0fzG24/giphy.gif?cid=ecf05e470vz1bf1u3izu05b0f3wcxx2y85x360jy76tqceri&rid=giphy.gif&ct=g"); 
                background-position: center 25%; 
                background-size: cover;
} */